.Header {
    background: #000;
    color: #fff;
    width: 100%;
    position: sticky;
    top: 0px;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
